%nav.navbar.navbar-default.navbar-fixed-bottom.navbar-inverse
  .container
    %ul.nav.nav-tabs.nav-justified
      %li
        %a(href='https://iamandrewhouse.com')
          Andrew House's Blog
      %li
        %a(href='http://theironyard.com')
          The Iron Yard
