!!!
%html
  %head
    %link{:href=>"//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css", :rel=>"stylesheet"}
    %title Andrew House - Sinatra
  %body
    %header
      = haml :navbar
    .container
      =yield

    %footer
      = haml :footer
