%h1
  This is the character counter!
  %h3
    Enter some text and the characters will be counted!
    %form.well{:method => "POST"}
      .form-group
        %input.form-control{:name => "word", :placeholder => "Enter word here.", value: @words, required: true, autofocus: true}
    - if @number_of_letters
      %h3
        = "You Entered '#{@words}'"
      %br
      - @number_of_letters.sort.each do |k,v|
        %h3
          = k
          %span.label.label-primary
            = v
