%h1
  Who would you like to see the repositories for?
  %form.well.well-lg{:method => "POST"}
    .form-group
      %input.form-control{:name => "github_name", :placeholder => "Enter a github username", value: @name, required: true, autofocus: true}

-if @repos
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th Name
        %th Size
        %th Description
        %th Created At
        %th Updated At
    %tbody
      -@repos.each do |repo|
        %tr
          %td
            %a{href: repo['html_url']}
              =repo['name']
          %td= repo['size']
          %td= repo['description']
          %td= repo['created_at']
          %td= repo['updated_at']
